@import "tailwindcss";

@theme {
  /* Fonts */
  --font-sans: "ABCRepro", "InterTight", Helvetica, Arial, sans-serif;

  /* Text Colors */
  --color-text-primary: #0a0e12;
  --color-text-secondary: #141a20;
  --color-text-tertiary: #3d4751;
  --color-text-inverse: #fafcfd;

  /* Surface Colors */
  --color-surface-base: #000000;
  --color-surface-muted: #f1f5f9;
  --color-surface-raised: #17d5ff;
  --color-surface-strong: #dfe4ea;

  /* Font Sizes */
  --text-xs: 12px;
  --text-sm: 16px;
  --text-md: 18px;
  --text-lg: 18.72px;
  --text-xl: 20px;
  --text-2xl: 24px;
  --text-3xl: 40px;
  --text-4xl: 72px;

  /* Spacing */
  --spacing-space-1: 8px;
  --spacing-space-2: 12px;
  --spacing-space-3: 16px;
  --spacing-space-4: 20px;
  --spacing-space-5: 24px;
  --spacing-space-6: 32px;

  /* Radii */
  --radius-xs: 8px;
  --radius-md: 16px;

  /* Transitions */
  --transition-duration-instant: 300ms;
  --transition-duration-fast: 350ms;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-surface-muted);
  color: var(--color-text-primary);
  font-size: var(--text-sm);
  font-weight: 400;
  line-height: normal;
}

